
@{
    ViewData["Title"] = "Информация";
}

<h1>Информация</h1>

<p>
    CoolBet была основана в 2023 году группой энтузиастов, которые стремились сделать ставки на события простыми и доступными для всех. Наша платформа была создана для того, чтобы каждый пользователь мог с лёгкостью делать ставки на исходы интересующих его событий — от спортивных матчей до политических выборов и экономических прогнозов. CoolBet быстро завоевала популярность благодаря удобному интерфейсу, прозрачным условиям ставок и честным расчетам выигрышей.
    <br />
    Мы верим, что ставки должны приносить удовольствие, и стараемся сделать их максимально понятными и безопасными для наших пользователей.
</p>

<h2>Дисклеймер</h2>
<p>Ставки могут быть связаны с рисками. Прежде чем делать ставку, пожалуйста, учтите следующее:</p>
<ul>
    <li>Финансовые риски: Ставки могут привести к потере средств. Делайте ставки только на те суммы, которые вы готовы потерять.</li>
    <li>Психологические риски: Ставки могут вызвать азарт, что может привести к финансовым потерям и стрессу. Пожалуйста, играйте ответственно.</li>
    <li>Юридические риски: Законы о ставках могут различаться в зависимости от вашей юрисдикции. Убедитесь, что вы следуете местным законам и правилам.</li>
</ul>
<p>CoolBet не несет ответственности за убытки, понесенные пользователями в результате ставок. Если вы чувствуете, что ставки становятся для вас проблемой, обратитесь за профессиональной помощью.</p>

<h2>Контакт</h2>
<form method="post" action="/Main/SubmitContact" class="mt-4">
    <div class="mb-3">
        <label for="name" class="form-label">Ваше имя:</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Введите ваше имя" required>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Электронная почта:</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Введите вашу электронную почту" required>
    </div>

    <div class="mb-3">
        <label for="message" class="form-label">Сообщение:</label>
        <textarea id="message" name="message" class="form-control" rows="4" placeholder="Введите ваше сообщение" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Отправить</button>
</form>

