
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoolBet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">CoolBet</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/events">События и ставки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/mybets">Мои ставки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Main/Profile">Личный кабинет</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Main/Information">Информация</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Зайти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Зарегистрироваться</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CoolBet
        </div>
    </footer>
</body>
</html>
