@{
    ViewData["Title"] = "События";
}

<div class="text-center">
    <h1 class="display-4">CoolBet</h1>
    <p>Сделать ставку очень легко - достаточно приобрести немного УЕ и поставить на любой исход будущего события. Если угадаешь - то получишь часть всей суммы ставок на событие в пропорции к своей ставке.</p>
</div>
